pdfminer3
pyresparser
streamlit
pandas
pafy
plotly
pymysql
streamlit-tags
PILLOW
youtube-dl
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
